.gradle
.vs
Library
Logs
obj
Output
Temp
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
TypescriptForUnity.csproj
TypescriptForUnity.Editor.csproj
TypescriptForUnity.Editor.Plugins.csproj
TypescriptForUnity.Plugins.csproj
TypescriptForUnity.sln
Unity.Analytics.DataPrivacy.csproj
Unity.CollabProxy.Editor.csproj
unity.csproj
unity.Editor.csproj
unity.Editor.Plugins.csproj
Unity.PackageManagerUI.Editor.csproj
unity.Plugins.csproj
unity.sln
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj

!Assets/
Assets/Scripts/General.Typescript/
Assets/Scripts/General.Typescript.meta
